.account-details {
  text-align: center;
}

.account-details .account-details-div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  margin: 0rem auto 5rem;
  text-align: left;
}

.account-details-div .account-details-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 100%;
}

.account-details-nav .profile-tab{
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 100%;
}

.account-details .logout-btn {
  background-color: red;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.account-details .edit-address-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
}

.account-details .delete-address-btn {
  background-color: transparent;
  border: 2px solid red;
  padding: 5px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.account-details .add-address-btn {
  background-color: var(--light-purple);
  border: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 1rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.account-details .add-address-btn:hover {
  border: 2px solid var(--primary-color);
  background-color: transparent;
}

.profile-address-content {
  width: 100vw;
}

.user-details, 
.address-details {
  padding: 1rem;
}

@media(min-width: 768px) {
  .account-details .account-details-div {
    width: 60%;
  }
}

@media(min-width: 1024px) {
  .account-details .account-details-div {
    width: 50%;
  }
}