.login {
  padding: 10px 40px;
  width: 50%;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.login h2 {
  text-align: center;
}

.login div {
  margin: 15px 0;
}

.login label {
  font-size: 14px;
}

.login input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid grey;
}

.login input:focus {
  border: 2px solid var(--primary-color);
}

.login-button {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.login-button:hover {
  background-color: var(--dark-purple);
}

.login-button.guest {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px;
  font-size: 14px;
}

.login-button.guest:hover {
  background-color: var(--primary-color);
  color: white;
}

.login p {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: blue;
}

.login p i {
  color: black;
}

.login p:hover {
  color: var(--primary-color);
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}

.password-wrapper span {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 16px;
  padding-right: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .login {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .login{
    width: 30%;
  }
}
