.loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  background-color: var(--super-light-purple);
}
