.products {
    display: flex;
    flex-grow: 1;
}

.productListing {
    text-align: center;
    border-left: 2px solid var(--primary-color);
}

.productListing ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 20px;
};

.sidebar-filter {
    height: 100vh;
    border-right: 2px solid var(--primary-color);
}