.products {
  display: grid;
  grid-template-columns: auto 1fr;
}

.productListing {
  text-align: center;
  height: calc(100vh - 20vh + 20px);
  overflow-y: scroll;
}

.productListing ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: space-evenly;
  list-style: none;
  margin-block-start: 0;
}

@media (max-width: 884px) {
  .productListing {
    padding-bottom: 4rem;
  }
}
