.products {
    display: flex;
}

.productListing {
    text-align: center;
}

.productListing ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 20px;
};