.emptyWishlist {
  text-align: center;
}

.emptyWishlist img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.emptyWishlist h2 {
  color: var(--primary-color);
}

.emptyWishlist button {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.wishlist {
  text-align: center;
}

.wishlist-container {
  padding: 0 2rem;
}

.wishlist-container .wishlist-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  list-style: none;
}

@media (min-width: 768px) {
  .emptyWishlist img {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .emptyWishlist img {
    width: 20%;
  }
}
