.home {
  margin: 2rem;
}

.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.offer-card {
  height: 150px;
  width: 45%;
  border-radius: 10px;
  background: rgb(243, 232, 255);
  background: linear-gradient(
    90deg,
    rgba(243, 232, 255, 1) 0%,
    rgba(216, 180, 254, 1) 37%,
    rgba(192, 132, 252, 1) 71%
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer-text {
  font-size: 12px;
  font-weight: bold;
  animation: 2s anim-lineUp ease-out infinite;
}

.code {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.sales {
  margin: 2rem 0;
  position: relative;
  height: 25vh;
}

.sales img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sales .sales-content {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 4rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sales-content p {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
  animation: 2s anim-lineUp ease-out infinite;
}

.sales-content button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  width: fit-content;
  margin: auto;
}

.sales-content button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sales-content button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sales-content button:hover span {
  padding-right: 25px;
}

.sales-content button:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
  margin-top: 2rem;
  bottom: 0;
}

footer i {
  color: var(--primary-color);
}

.newsletter {
  height: 30vh;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 1rem;
}

.newsletter p {
  text-align: center;
}

.input-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.input-container input {
  border: none;
  padding: 0.7rem;
}

.input-container button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  height: 100%;
  padding: 0 1rem;
}

.facilities {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  text-align: center;
  flex-wrap: wrap;
}

.facilities div {
  width: 40%;
}

.facilities div:last-child {
  width: 100%;
  font-size: 18px;
}

.facilities .facilities-icon {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.copyright {
  background-color: var(--dark-purple);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 0.8rem;
}

.copyright div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.copyright div a {
  color: white;
  text-decoration: none;
}

.shopnow-btn {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .sales {
    height: 40vh;
  }
  .sales-content p {
    font-size: 28px;
  }
  .offer-text {
    font-size: 18px;
  }
  .input-container {
    justify-content: center;
  }
  .facilities div {
    width: 10%;
  }

  .facilities div:last-child {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .facilities div:last-child div {
    display: flex;
    flex-direction: row;
  }

  .copyright {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .sales {
    height: 60vh;
  }
  .sales-content p {
    font-size: 32px;
  }
  .offer-text {
    font-size: 22px;
  }
  .input-container {
    justify-content: space-between;
  }
}
