.home {
  margin: 2rem;
}

.offers {
  display: flex;
  justify-content: space-between;
}

.offer-card {
  height: 100px;
  width: 580px;
  border-radius: 10px;
  background: rgb(243, 232, 255);
  background: linear-gradient(
    90deg,
    rgba(243, 232, 255, 1) 0%,
    rgba(216, 180, 254, 1) 37%,
    rgba(192, 132, 252, 1) 71%
  );
  text-align: center;
}

.offer-text {
  font-size: 18px;
  font-weight: bold;
  animation: 2s anim-lineUp ease-out infinite;
}

.code {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sales {
  margin: 2rem 0;
  position: relative;
  height: 400px;
}

.sales img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sales .sales-content {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: 5rem;
}

.sales-content p {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: bold;
  animation: 2s anim-lineUp ease-out infinite;
}

.sales-content button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
}

.sales-content button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sales-content button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sales-content button:hover span {
  padding-right: 25px;
}

.sales-content button:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
    margin-top: 2rem;
    bottom: 0;
}

.newsletter {
    height: 40vh;
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.input-container {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.input-container input {
    border: none;
    flex: 8;
    padding-left: 20px;
}

.input-container button {
    flex: 1;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer
}

.facilities {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    text-align: center;
}

.facilities .facilities-icon {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 20px;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    background-color: var(--dark-purple);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 0.8rem;
}

.copyright div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.copyright div a {
    color: white;
    text-decoration: none;
}