.coupon-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-price {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  padding: 30px;
}

.price-calculate-content {
  line-height: 0.2;
}

.price-calculate-content div {
  display: flex;
  justify-content: space-between;
}

.price-calculate-content div p:first-child {
  color: var(--primary-color);
}

.save-msg {
  color: var(--light-green);
}

.checkout-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.apply-coupon-btn {
  background-color: var(--light-purple);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.apply-coupon-btn:hover {
  background-color: transparent;
}

.coupon {
  display: flex;
  align-items: center;
}

.coupon img {
  width: 3rem;
  height: 3rem;
}

.coupon .couponName {
  display: flex;
  align-items: center;
  padding: 0 5px;
  border: 2px dashed var(--light-purple);
}

.coupon i {
  color: red;
}
