.address-form {
  background: #342e2ebf;
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 9999;
}

.address-form-content {
  padding: 1rem 2rem 3rem 2rem;
  background-color: white;
  text-align: center;
  width: 50%;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
}

.address-form-content form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.address-form-content form input {
  padding: 0.5rem;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.address-form-content form input:focus {
  border: 2px solid var(--primary-color);
}

.address-form-btns {
  display: flex;
  justify-content: space-evenly;
}

.address-form-btns .add-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
}

.address-form-btns .cancel-btn {
  background-color: transparent;
  border: 2px solid red;
  padding: 5px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

@media (min-width: 768px) {
  .address-form-content{
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .address-form-content{
    width: 30%;
  }
}