.filters {
  padding: 10px 30px;
  overflow-y: scroll;
  width: 10rem;
  height: calc(100vh - 20vh);
}

.sidebar .filter-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidebar .filter-heading button {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
}

.sidebar .filter-heading button:hover {
  color: var(--dark-purple);
}

.sidebar .price-filter,
.rating-filter,
.category-filter,
.brand-filter,
.price-range-filter {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.sidebar div label {
  cursor: pointer;
  padding: 5px 0;
}

.sidebar input[type="checkbox"],
.sidebar input[type="radio"],
.sidebar input[type="range"] {
  accent-color: var(--primary-color);
}

.price-range-filter .price-range {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.mobile_filters {
  position: absolute;
  background-color: #fff;
  z-index: 99;
  width: 80vw;
  height: 100vh;
  overflow-y: auto;
  padding: 0 10vw;
}

.filter-btn {
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 50%;
}

.mobile-view-btn {
  display: none;
}

.filter-modal-btns {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.filter-modal-btns button {
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 40%;
}

@media (max-width: 500px) {
  .filters {
    display: none;
  }
  .mobile-view-btn {
    bottom: 0;
    position: fixed;
    background-color: #fff;
    padding: 1rem 0;
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
