.order-history {
    padding: 1rem;
}

.shop-now-btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.order-history-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.order-history-main .order-history-left {
    width: 100%;
    padding-right: 1rem;
}

.order-history-main .order-history-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.order-history-right-card {
    width: 100%;
    height: fit-content;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
}

.order-history-right-card div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order-history-right-card img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .order-history-main{
        flex-direction: row;
    }
    .order-history-main .order-history-left {
        width: 60%;
        border-right: 1px solid #ccc;
    }
    .order-history-main .order-history-right{
        padding-left: 1rem;
    }
}

@media (min-width: 1024px) {
    .order-history-main{
        flex-direction: row;
    }
    .order-history-main .order-history-left {
        width: 70%;
        border-right: 1px solid #ccc;
    }
}