.signup {
  padding: 10px 40px;
  width: 300px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.signup h2 {
  text-align: center;
}

.signup .name {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}

.signup input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid grey;
}

.signup input:focus {
    border: 2px solid var(--primary-color);
}

.signup label {
  font-size: 14px;
}

.signup button {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.signup button:hover {
    background-color: var(--dark-purple);
}

.signup p {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: blue
  }
  
  .signup p i {
      color: black;
  }
  
  .signup p:hover {
    color: var(--primary-color);
  }